//* :not(.pi) {
//  font-family: var(--regular-font);
//}
body {
  font-family: var(--regular-font);
}

.pi {
  * {
    font-family: var(--regular-font);
  }
}

.content-container {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.main-slider {
  position: relative;

  .owl-carousel {
    width: 100%;
    max-height: 600px;

    @media(max-width: 1440px) {
      max-height: 450px;
    }

    @media(max-width: 1300px) {
      max-height: 420px;
    }

    .owl-item {
      width: 100%;
      height: 100%;

      img {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }

    .owl-nav {
      .owl-next {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto !important;
        background: transparent !important;
        height: 30px !important;
        font-size: 10px;

        span {
          font-size: 25px;
          color: #000;
        }
      }

      .owl-prev {
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto !important;
        background: transparent !important;
        height: 30px !important;
        font-size: 10px;

        span {
          font-size: 25px;
          color: #000;
        }
      }
    }
  }
}

.card-slider {
  position: relative;

  .owl-carousel .owl-stage-outer {
    padding: 10px 0;
  }

  .owl-carousel {
    width: 100%;

    .owl-nav {
      padding: 0 !important;

      .owl-next {
        position: absolute;
        right: -35px;
        top: 0;
        bottom: 0;
        margin: auto !important;
        background: transparent !important;
        height: 30px !important;
        font-size: 10px;

        span {
          font-size: 25px;
          color: #000;
        }
      }

      .owl-prev {
        position: absolute;
        left: -35px;
        top: 0;
        bottom: 0;
        margin: auto !important;
        background: transparent !important;
        height: 30px !important;
        font-size: 10px;

        span {
          font-size: 25px;
          color: #000;
        }
      }
    }
  }
}

.in-stock {
  color: #01B467;
  font-size: 12px;
  font-family: var(--medium-font);
}

.product-flag {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 10px 10px 0;
  padding: 2px 5px;
  background-color: var(--flag-color);
  color: var(--flag-font-color);
  font-family: var(--medium-font) !important;
  font-size: 10.4px;

  .pi {
    font-size: 13px;
  }
}

.rating {
  display: flex;
  flex-direction: row;

  .star {
    color: var(--fourth-color);
    font-size: 12px;
  }

  .rate {
    position: relative;
    top: 2px;
    color: var(--fourth-color);
    font-size: 14px;
    font-family: var(--medium-font);
  }

  .rating-number {
    color: #A3A3A3;
    font-size: 12px;
    font-family: var(--light-font);
  }
}

.progress-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
}
.spinner {
  position: fixed;
  z-index: 10000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}
::ng-deep .p-breadcrumb {
  background: #F5F5F5;
}
::ng-deep .p-breadcrumb ul li:last-child .p-menuitem-text {
  color: #000;
}
::ng-deep .p-breadcrumb ul li:last-child .p-menuitem-icon {
  color: #000;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}
.product-nums{
  color: #A3A3A3;
  font-size: 15px;
  font-weight: normal;
}
.status-badge {
  background-color: #1D4C69;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
  .pi-circle-fill {
      font-size: 0.5rem;
  }
}
.item-details {
  width: 51%;
  margin: auto;

  img {
    width: 37px;
    height: 48px;
  }
  .price {
      position: relative;
      top: 1rem;
  }
}
i.pending {
  color: #fee268;
}
i.processing {
    color: #00b0ff;
}
i.completed {
    color: #00c853;
}
i.canceled {
    color: #ff1744;
}
