@font-face {
  font-family: "main-bold";
  src: url("../../assets/fonts/MTNBrighterSans-Bold.ttf");
}

@font-face {
  font-family: "main-medium";
  src: url("../../assets/fonts/MTNBrighterSans-Medium.ttf");
}

@font-face {
  font-family: "main-regular";
  src: url("../../assets/fonts/MTNBrighterSans-Regular.ttf");
}


@font-face {
  font-family: "main-light";
  src: url("../../assets/fonts/MTNBrighterSans-Light.ttf");
}
