$main-color: #1D4C69;
$second-color: #1a445e;
$third-color: #345e78;
$white-color: #fafafa;


:root {
  --main-color: #1D4C69;
  --second-color: #1a445e;
  --third-color: #345e78;
  --white-color: #fafafa;
  --text-color-1: #1D4C69;
  --text-color-2: #fafafa;
  --light-font: 'main-light';
  --regular-font: 'main-regular';
  --medium-font: 'main-medium';
  --bold-font: 'main-bold';
}
