.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 242px;
  width: 130px;
  max-height: 242px;
  border-radius: 5px;
  padding: 5px;
  img{
    width: 76px;
    height: 104px;
    object-fit: contain;
  }
  .title{
    font-size: 12px;
    font-family: var(--light-font);
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    text-align: center;
    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .price-container{
    display: flex;
    flex-direction: row;
    .currency{
      font-size: 14px;
      font-family: var(--medium-font);
      color: black;
    }
    .price{
      font-size: 14px;
      font-family: var(--light-font);
      color: black;
    }
  }
  .total-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    color: var(--main-color);
  }
}
