<div class="product-card shadow-1 cursor-pointer">
  <img src="https://z.nooncdn.com/products/tr:n-t_240/v1638171385/N52057841A_1.jpg" alt="">
  <div class="title mt-3">Apple iPhone 12 Pro Max blue company 128g 12ram</div>
  <div class="price-container mt-2">
    <div class="currency">USD</div>
    <div class="price mx-1">100</div>
  </div>
  <div class="rating mt-2">
    <i class="star pi pi-star-fill"></i>
    <div class="rate mx-1">4.8</div>
    <div class="rating-number">(112)</div>
  </div>
</div>
