<section class="category-slider card-slider">
  <owl-carousel-o [options]="options">
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
    <ng-template carouselSlide>
      <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
    </ng-template>
  </owl-carousel-o>
</section>
