.header{
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--main-color);
  .logo{
    margin: 5px 0;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    object-fit: fill;
  }
  .actions,
  .cart_route{
    color: #fafafa;
  }
}
