<section class="payment-error-dialog">
  <div class="border-none shadow-4 h-3rem">
  </div>
  <div class="padding-21">
    <div class="flex flex-column align-items-center justify-content-center" style="height: 100%; min-height: 60vh">
      <p class="text-900 font-size-24 bold-font mb-0">
        Waiting for payment
      </p>
      <p class="text-400 font-size-15 text-center width-80 light-font mt-0">
        We've sent you a message at <br>+256 123-456-78. You have 5 min to confirm the payment
      </p>
      <i class="pi pi-spin pi-spinner fourth-color font-bold mt-5" style="font-size: 3rem"></i>
      <p class="text-400 font-size-15 text-center width-80 light-font mb-8">
        04:10:30 left
      </p>
      <div>
        <p class="text-400 font-size-15 mt-0 inline">
          Message not received?
        </p>
        <a class="no-underline main-color font-size-15 medium-font mb-4" [routerLink]="" (click)="errorPayment()"> Send again</a>
      </div>
    </div>
  </div>
</section>
