<section class="otp">

    <ng-container>
      <div class="content-container my-3">
        <div class="grid justify-content-center margin-x-100">
          <p class="col-12 bold-font text-center font-size-28 m-0 py-0 mx-4">Enter OTP</p>
          <a class="col-12 main-color text-center no-underline font-size-16 pt-0 m-0 mb-3" href="/">
            We just sent the verification code
          </a>
          <div class="col-12 md:col-8 lg:col-4 border-round bg-white shadow-1 pt-6">
            <div class="p-fluid p-grid">
              <div class="p-field p-col-12 mb-8">
                <form action="" class="mt-5">
                  <input type="text"  >
                  <input type="text"  >
                  <input type="text"  >
                  <input type="text" >
                </form>
              </div>
              <div class="count">
                Resend in 0:59
              </div>
              <button label="Next" class="p-field p-col-12 mb-5 mt-3 width-100 font-size-14 second-btn"
                [routerLink]="['/update-password']" pButton type="button">
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </section>
