form {
    text-align: center;
    input{
        display: inline-block;
        width: 45px;
        height: 45px;
        text-align: center;
        margin: 0 0.8rem;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
    }
    
}
.count {
    text-align: center;
    font-size: small;
    // color: #F5F5F5;
}