<section class="empty-cart">
  <div class="center flex flex-column justify-content-center flex-wrap">
    <p class="flex align-items-center justify-content-center bold-font font-size-28 m-0 mx-4">Your cart is empty</p>
    <p class="flex align-items-center justify-content-center text-500 font-size-15 m-0">What are you waiting for?</p>
    <div class="flex align-items-center justify-content-center">
      <button label="Start shopping" class="margin-x-30 width-100  second-btn"
              [routerLink]="['/']"
              pButton
              type="button">
      </button>
    </div>
  </div>

</section>
