<section class="update-password-page">
  <div *ngIf="loading" class="spinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-container *ngIf="!loading">
    <div class="content-container my-3">
      <div class="grid justify-content-center margin-x-100">
        <p class="col-12 bold-font text-center font-size-28 m-0 py-0 mx-4">Add New Password</p>
        <a class="col-12 main-color text-center no-underline font-size-16 pt-0 m-0 mb-3" href="/">
          Please set up a secure password following the criteria below.
        </a>
        <div class="col-12 md:col-8 lg:col-4 border-round bg-white shadow-1 px-5 pt-6">
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12">
              <span class="p-float-label mt-3">
                <p-inputMask inputId="phone-number" mask="999-99999999" [readonly]="true" [(ngModel)]="mobileNumber"></p-inputMask>
                <label>Phone number *</label>
              </span>
            </div>
            <div class="p-field p-col-12">
              <span class="p-float-label mt-5">
                <p-password [(ngModel)]="password"></p-password>
                <label>Password</label>
              </span>
            </div>
            <div class="flex justify-content-end flex-wrap">
              <a class="no-underline main-color font-size-12 bold-font mb-4" routerLink="/reset-password">Forgot
                password?</a>
            </div>
            <button label="Confirm password" class="p-field p-col-12 my-2 width-100 font-size-14 second-btn"
              (click)="approveModal()" pButton type="button">
            </button>
            <!-- Approved Modal -->
            <p-dialog class="approvedModal" [(visible)]="displayApprovedModal" [style]="{width: '30vw'}"
              [baseZIndex]="10000">
              <ng-template pTemplate="content">
                <div
                  class="icon mt-5 bg-green-500 text-white text-center w-3rem h-3rem border-circle icon bg-green-500 ">
                  <i class="pi pi-check"></i>
                </div>
                <p class="font-bold text-center text-black-alpha-90">New Password</p>
              </ng-template>
              <ng-template pTemplate="footer">
                <button label="Confirm Password" class="p-field p-col-12 my-4 width-25 m-auto font-size-14 second-btn" pButton
                  type="button" (click)="submit()">
                </button>
              </ng-template>
            </p-dialog>
            <!-- End Approved Modal -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>
