<section class="home">
  <app-main-slider></app-main-slider>
  <div class="px-8 my-3">
    <app-section [title]="'Categories'">
      <div class="flex flex-row flex-wrap justify-content-between">
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
        <app-category-card class="mt-2" [name]="'Sports'" [totalItems]="'20'"></app-category-card>
      </div>
    </app-section>
  </div>
</section>
