<section class="home relative">

  <ng-container >
     <app-main-slider [sliders]="mainSlider"></app-main-slider>
    <div class="content-container  my-3">
      <ng-container *ngFor="let section of sections; index as i">
        <ng-container [ngSwitch]="section.showRoomTypeId">
          <div [ngClass]="{'mt-3': i === 0}" class="my-5">
            <app-section-category *ngSwitchCase="3" [title]="section.title">
              <app-category-slider [categories]="categories"></app-category-slider>
            </app-section-category>
          </div>
          <div [ngClass]="{'mt-3': i === 0}" class="my-5">
            <app-section *ngSwitchCase="2" [title]="section.title" [categoryID]="section.id">
              <app-product-slider  [products]="section.data"></app-product-slider>
            </app-section>
          </div>
          <div [ngClass]="{'mt-3': i === 0}" class="my-5">
            <ng-container *ngIf="section.bannerData">
              <app-banner [banner]="section.bannerData"class="my-3"></app-banner>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</section>
