<footer class="footer">
  <div (click)="backToTop()" class="to-top cursor-pointer pt-2 pb-4 flex flex-column justify-content-center align-items-center">
<!--    <i class="pi pi-caret-up"></i>-->
    <i class="pi pi-angle-up"></i>
    <div>Back To Top</div>
  </div>
  <div class="content px-7 grid mx-0 justify-content-between align-items-center">
    <div class="col-12 md:col-9">
      <div class="my-2">
        <a>Shipping</a>
      </div>
      <div class="my-2">
        <a>Return and refund</a>
      </div>
      <div class="my-2">
        <a>Customer service</a>
      </div>
      <div class="my-2">
        <a>Your account</a>
      </div>
      <div class="my-2">
         <a>Sell on MoMoMarket</a>
       </div>
    </div>
    <div class="col-12 md:col-3">

    </div>
  </div>
  <div class="copy-rights grid px-7 mx-0">
    <div class="flex col-12 md:col-9 align-items-center">
      <span>
        <a>Conditions of use</a>
      </span>
      <span class="mx-3">
        <a>Privacy policy</a>
      </span>
    </div>
    <div class="flex col-12 md:col-3 align-items-center">
      <p>© 2021 MoMoMarket. All rights reserved.</p>
    </div>
  </div>
</footer>
