
<section class="category-products-page">
    <div class="breadcrumb">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <!--  -->
    <div class="content-container mt-5">
      <div class="grid">
        <div class="col-12 md:col-6 flex justify-content-center  md:justify-content-start">
          <div class="font-size-22 bold-font">
            {{ category.categoryName }}
          </div>
        </div>
      </div>
      <!--  -->
      <div class="my-5 flex flex-row justify-content-start flex-wrap">
        <a *ngFor="let product of products" class="slide" class="mt-2 mx-2" routerLink="/product/{{product.productId}}">
          <app-product-card [product]="product" [currency]="currency"></app-product-card>
        </a>
      </div>
    </div>
  </section>
