<section class="cart">
  <div class="lg:px-11 md:px-8 px-5  my-3">
    <div class="mt-5 mb-5">
      <section class="section-block">
        <div class="flex flex-row justify-content-between">
          <h2 class="my-0">
            Your cart
            <span class="product_nums">({{productNumbers}})</span>
          </h2>
        </div>
        <div class="mt-5 cart_content">
          <div class="grid">
            <div class="col-7">
              <div class="grid">
                <div class="col-12">
                  <div class="grid">
                    <div class="col-2 img_col padding-0">
                      <div class="img_container">
                        <img src="https://z.nooncdn.com/products/tr:n-t_240/v1638171385/N52057841A_1.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-10">
                      <div class="grid">
                        <div class="col-12 padding-0">
                          <p class="product_name margin-b-0">Apple iPhone 12 Pro Max blue color with FaceTime - 126 Go
                          </p>
                        </div>
                        <div class="col-12 padding-0">
                          <p class="price margin-b-0">
                            <span class="currency">UGX</span>
                             <span class="number">10,000,000</span>
                          </p>
                        </div>
                        <div class="col-12">
                          <div class="grid">
                            <div class="col-11">
                              <label for="productQty">Qty</label>
                              <p-inputNumber [(ngModel)]="QtyValue" [showButtons]="true" buttonLayout="horizontal" inputId="productQty" 
                              spinnerMode="horizontal" [step]="1" [min]="0" [max]="100" decrementButtonClass="p-button-danger" 
                              incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" >
                              </p-inputNumber>

                            </div>
                            <div class="col-1">
                              <div class="deleteProduct">
                                <i class="pi pi-trash"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <p>Placing a product on the cart does not reserve that product or price. We only reserve the product
                    once payment is received.</p>
                </div>
                <div class="col-12">
                  <a href="/">Continue shopping</a>
                </div>
              </div>
            </div>
            <div class="col-5">
              <p-card class="cartCard">
                <div class="mt-3 product-flag">
                  <i class="pi pi-box mx-1"></i>
                  Free delivery & Return
                </div>
                <p>
                  <span class="dateLabel">Arrives: </span>
                  <span class="dateRange">Sep 16 - Oct 1</span>
                </p>
                <button pButton pRipple type="button" class=" p-button-warning">
                  Proceed to checkout ( {{productNumbers}} item)
                </button>
                <div class="payment">
                  <app-payment-icons></app-payment-icons>
                </div>
              </p-card>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
