<section (scroll)="onScrollEvent()" class="product-details">

  <ng-container *ngIf="productDetails.productId">
    <div class="content-container my-3">
      <div class="grid pt-6">
        <div class="col-12 md:col-6 lg:col-8">
          <div class="images">
            <app-image-zoom [product]="productDetails"></app-image-zoom>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
          <app-details [currency]="currency" [product]="productDetails" id="details"></app-details>
        </div>
      </div>
      <div *ngIf="relatedProducts.length" class="my-5">
        <app-section [title]="'Related Products'" id="relatedProducts">
          <app-product-slider [products]="relatedProducts"></app-product-slider>
        </app-section>
      </div>
    </div>
    <app-floating-panel *ngIf="showPanel" [currency]="currency" [product]="productDetails"></app-floating-panel>
  </ng-container>
</section>
