<section class="checkout">
  <ng-container >
    <div class="content-container my-3">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 align-items-start justify-content-start my-3">
          <h2>
            Delivery Method
          </h2>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
          <div class="grid align-items-start justify-content-between">
            <div class="col-12 md:col-12 lg:col-7">
              <app-delivery-method-cart></app-delivery-method-cart>
            </div>
            <div class="col-12 md:col-12 lg:col-5">
              <app-payment-cart></app-payment-cart>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 align-items-start justify-content-start">
          <h2>
            Order Summary
          </h2>
        </div>
        <div class="col-12 md:col-12 lg:col-12 mb-7">
          <div class="grid align-items-start justify-content-between">
            <div class="col-12 md:col-12 lg:col-7">
              <app-order-summary-cart></app-order-summary-cart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
